<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registeration</title>
</head>
<body style="background-color:aqua"  >
<h2>REGISTRATION</h2>
<form action ="register" method="post" >
 {% csrf_token %}
 <label> Username</label><input type="text" name="username"placeholder="Enter your user name"> <br>
 <br><label> First name</label><input type="text" name="first_name" placeholder="Enter your first name"> <br>
 <br><label> Last name</label><input type="text" name="last_name" placeholder="Enter your last name"> <br>
 <br><label> email</label><input type="email" name="email" placeholder="Enter your email address"> <br>
 <br><label>Password</label><input type="password" name="password" placeholder="Enter your password"> <br>
 <br><label> Confirm password</label><input type="password" name="password1" placeholder="confirm  your  password"> <br>
 <br><input type="submit" > <br>
</form>
{% for msg in messages %}
 <h2>{{msg}}</h2>
{% endfor %}
</body>
</html>